import unittest
import traceback

class TestNotebookSubmission(unittest.TestCase):
    """
    test GraderNotebook
    """

    def test_submission(self):
        """
        tests submission
        """
        {% filter indent(width=8) %}
        {{code}}
        {% endfilter %}